

@font-face {
    font-family: open sans;
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

mark {
    color: #000;
    background: #ff0
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver
}

legend {
    padding: 0;
    border: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

td,
th {
    padding: 0
}

@media print {
    *,
    :after,
    :before {
        color: #000!important;
        text-shadow: none!important;
        background: 0 0!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    img,
    tr {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
    .navbar {
        display: none
    }
    .btn>.caret,
    .dropup>.btn>.caret {
        border-top-color: #000!important
    }
    .label {
        border: 1px solid #000
    }
    .table {
        border-collapse: collapse!important
    }
    .table td,
    .table th {
        background-color: #fff!important
    }
    .table-bordered td,
    .table-bordered th {
        border: 1px solid #ddd!important
    }
}

.app-header {
    background-color: #0e8ce4;
    color: #fff;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 11
}

.app-header-close {
    position: absolute;
    cursor: pointer;
    text-align: center;
    padding: 15px 16px;
    font-size: 20px;
    vertical-align: top
}

.app-header-close:hover {
    background: #34903a
}

.app-title {
    padding: 16px;
    font-size: 20px;
    text-align: center
}

.app-header-content {
    margin: 0 auto
}

@media only screen and (min-width:855px) {
    .app-header-content {
        max-width: 523px!important
    }
}

.btn:hover,
.btn:focus {
    text-decoration: none;
    color: inherit
}

.btn {
    display: block;
    width: 100%;
    height: 52px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background: #fff;
    padding: 15px 0;
    color: rgba(0, 0, 0, .7)
}

.get-code {
    color: #0e8ce4;
    cursor: pointer;
    border: 0;
    background: 0 0;
    text-decoration: underline
}

.btn.btn-noradius {
    border-radius: 0
}

.relative {
    position: relative!important
}

.inline-block {
    display: inline-block
}

.block {
    display: block!important
}

.w40 {
    width: 40%
}

.w100 {
    width: 100%
}

.sprite {
    display: inline-block;
    background-repeat: no-repeat!important;
    background-position: right 0 top 50%!important
}

.sprite-bcaoneklik {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bca-oneklik.png);
    width: 30px;
    height: 30px
}

.sprite-small,
.sprite-normal {
    display: inline-block;
    background-size: 100%!important;
    background-repeat: no-repeat!important;
    background-position: right 0 top 50%!important
}

.sprite-bcava,
.sprite-bca {
    background: url(https://ecs7.tokopedia.net/img/toppay/logo/bca.png);
    width: 97px;
    height: 53px
}

.sprite-bcaklikbca {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/klikbca.png);
    width: 60px;
    height: 53px;
    background-size: 100%;
    background-position: 0 -3px!important
}

.sprite-bcaklikpay {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bca-klikpay.png);
    width: 60px;
    height: 32px
}

.sprite-mandiriva,
.sprite-mandiri {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/mandiri.png);
    width: 105px;
    height: 53px
}

.sprite-syariahmandiri {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/mandiri-syariah.png);
    width: 46px;
    height: 28px
}

.sprite-linkaja {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/linkaja.png);
    width: 46px;
    height: 32px
}

.sprite-mandiriclickpay {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/mandiri-clickpay.png);
    width: 39px;
    height: 32px
}

.sprite-bri {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bri.png);
    width: 115px;
    height: 53px;
    background-position: 0 12px;
    background-repeat: no-repeat
}

.sprite-briepay {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bri-epay.png);
    width: 57px;
    height: 32px
}

.sprite-cc {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/cc-icon.png);
    width: 43px;
    height: 32px
}

.sprite-cimbva,
.sprite-cimb {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/cimb.png);
    width: 133px;
    height: 32px
}

.sprite-bniva,
.sprite-bni {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bni.png);
    width: 98px;
    height: 53px;
    background-position: 0 12px;
    background-repeat: no-repeat
}

.sprite-briva {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/briva.png);
    width: 87px;
    height: 53px;
    background-position: 0 12px
}

.sprite-brisyariahva {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bri-syariah.png);
    width: 87px;
    height: 53px;
    background-position: 0 12px
}

.sprite-danamonva {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/danamon.png);
    width: 87px;
    height: 53px;
    background-position: 0 12px
}

.sprite-credit {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/credit-card.png);
    width: 130px;
    height: 32px
}

.sprite-kreditplus {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/kreditplus.png);
    background-size: 100%;
    width: 59px;
    height: 32px
}

.sprite-store {
    background: url(https://ecs7.tokopedia.net/img/toppay/Retail.png);
    width: 74px;
    height: 74px
}

.sprite-small.sprite-kioson {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/kioson.png);
    background-size: 100%;
    width: 61px;
    height: 32px
}

.sprite-small.sprite-indomaret {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/indomaret.png);
    width: 54px;
    height: 32px
}

.sprite-small.sprite-alfamart {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/alfamart.png);
    width: 47px;
    height: 32px
}

.sprite-small.sprite-posindonesia {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/pos-indonesia.png);
    width: 37px;
    height: 32px
}

.sprite-tokopediawallet {
    background: url(https://ecs7.tokopedia.net/img/toppay/saldo-green.svg);
    width: 70px;
    height: 53px;
    background-position: 0 4px
}

.sprite-tokopediatopcash {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/tokocash.png);
    width: 28px;
    height: 32px
}

.sprite-small.sprite-eyed {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/eye-password.png);
    width: 28px;
    height: 28px
}

.sprite-small.sprite-eyed.active {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/eye-password-active.png);
    width: 28px;
    height: 28px
}

.sprite-jne,
.sprite-jnepayment {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/jne.png);
    width: 48px;
    height: 32px
}

.sprite-loketnet1 {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/loketnet1.png);
    width: 48px;
    height: 32px
}

.sprite-familymart {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/familymart.png);
    width: 100px;
    height: 53px
}

.sprite-small.sprite-familymart {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/familymart.png);
    width: 61px;
    height: 32px
}

.sprite-cimbclicks {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/cimb-clicks.png);
    width: 600px;
    height: 100px
}

.sprite-small.sprite-cimbclicks {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/cimb-clicks.png);
    width: 60px;
    height: 20px
}

.sprite-small.sprite-jne {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/jne.png);
    width: 48px;
    height: 32px
}

.sprite-bnismsbanking {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bni-sms-banking.png);
    width: 86px;
    height: 49px;
    background-position-y: 3px!important
}

.sprite-sms-banking {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/sms-banking.png);
    background-size: contain;
    width: 81px;
    height: 53px;
    margin: 10px auto 20px;
    display: block
}

.sprite-small.sprite-circle-k {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/circle-k.png);
    width: 52px;
    height: 32px
}

.sprite-agenbni {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/agenbni.png);
    width: 52px;
    height: 32px
}

.sprite-small.sprite-close {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/close.png);
    width: 32px;
    height: 32px
}

.sprite-small.sprite-close-2 {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/close-2.png);
    width: 16px;
    height: 25px;
    background-position-y: 33%!important
}

.sprite-small.sprite-back {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/back-2.png);
    width: 16px;
    height: 30px
}

.sprite-lock {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/lock-credit-card.png);
    width: 32px;
    height: 32px;
    background-size: 77%;
    background-repeat: no-repeat;
    display: inline-block
}

.sprite-mastercard {
    background: url(https://ecs7.tokopedia.net/img/toppay/creditcard-mastercard.png);
    width: 52px;
    height: 32px
}

.sprite-rintis-451 {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/mandiri-syariah.png);
    width: 46px;
    height: 28px
}

.sprite-rintis-422 {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bri-syariah.png);
    width: 100px;
    height: 32px;
    background-position: 0 4px!important
}

.sprite-rintis-153 {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bank-sinarmas.png);
    width: 104px;
    height: 32px
}

.sprite-rintis-016 {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/maybank.png);
    width: 52px;
    height: 32px;
    background-position: 0 6px!important
}

.sprite-rintis-028 {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/ocbc-nisp.png);
    width: 56px;
    height: 32px
}

.sprite-rintis-426 {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/bank-mega.png);
    width: 56px;
    height: 32px
}

.fs-10 {
    font-size: 10px
}

.fs-11 {
    font-size: 11px
}

.fs-12 {
    font-size: 12px
}

.fs-13 {
    font-size: 13px
}

.fs-14 {
    font-size: 14px
}

.fs-16 {
    font-size: 16px
}

.fs-18 {
    font-size: 18px
}

.fs-20 {
    font-size: 20px
}

.m-0 {
    margin: 0!important
}

.mb-0 {
    margin-bottom: 0
}

.mb-8 {
    margin-bottom: 8px
}

.mb-16 {
    margin-bottom: 16px
}

.mb-24 {
    margin-bottom: 24px
}

.mb-42 {
    margin-bottom: 42px
}

.ml-5 {
    margin-left: 5px
}

.ml-10 {
    margin-left: 10px!important
}

.ml-16 {
    margin-left: 16px
}

.ml-24 {
    margin-left: 24px
}

.mt-2 {
    margin-top: 2px
}

.mt-5 {
    margin-top: 5px!important
}

.mt-8 {
    margin-top: 8px
}

.mt-10 {
    margin-top: 10px
}

.mt-15 {
    margin-top: 15px
}

.mt-16 {
    margin-top: 16px
}

.mt-20 {
    margin-top: 20px
}

.mt-24 {
    margin-top: 24px
}

.mt-30 {
    margin-top: 30px!important
}

.mt-40 {
    margin-top: 40px
}

.mt-60 {
    margin-top: 60px
}

.mt-70 {
    margin-top: 70px
}

.mr-10 {
    margin-right: 10px!important
}

.mr-16 {
    margin-right: 16px!important
}

.mr-24 {
    margin-right: 24px
}

.p-0 {
    padding: 0!important
}

.p-8 {
    padding: 8px!important
}

.p-16 {
    padding: 16px!important
}

.p-15 {
    padding: 15px
}

.pr-0 {
    padding-right: 0
}

.pr-5 {
    padding-right: 5px
}

.pr-11 {
    padding-right: 11px!important
}

.pr-15 {
    padding-right: 15px
}

.pr-16 {
    padding-right: 16px
}

.pr-24 {
    padding-right: 24px!important
}

.pl-0 {
    padding-left: 0
}

.pl-5 {
    padding-left: 5px
}

.pl-11 {
    padding-left: 11px
}

.pl-16 {
    padding-left: 16px
}

.pl-20 {
    padding-left: 20px
}

.pl-24 {
    padding-left: 24px!important
}

.pb-8 {
    padding-bottom: 8px!important
}

.pb-10 {
    padding-bottom: 10px!important
}

.pb-16 {
    padding-bottom: 16px!important
}

.pb-52 {
    padding-bottom: 52px!important
}

.pt-0 {
    padding-top: 0!important
}

.pt-8 {
    padding-top: 8px!important
}

.pt-10 {
    padding-top: 10px!important
}

.pt-16 {
    padding-top: 16px!important
}

.pt-20 {
    padding-top: 20px!important
}

.pt-24 {
    padding-top: 24px!important
}

.semibold {
    font-weight: 600
}

.bold {
    font-weight: 700
}

.left {
    float: left
}

.align-right {
    text-align: right
}

.align-left {
    text-align: left
}

.align-center {
    text-align: center
}

.red {
    color: #fd2121
}

.green {
    color: #0e8ce4
}

.orange {
    color: #ff5722
}

.black {
    color: #000
}

.bg-white {
    background-color: #fff
}

.bg-grey {
    background-color: #f8f8f8
}

.bottom {
    vertical-align: bottom
}

html,
body {
    background-color: #f8f8f8;
    color: rgba(0, 0, 0, .7);
    font-family: open sans, sans-serif;
    font-size: 14px
}

body {
    min-height: 100vh
}

a,
a:focus {
    color: #0e8ce4;
    cursor: pointer;
    text-decoration: none
}

p {
    color: rgba(0, 0, 0, .54)
}

.counter-box {
    display: table;
    padding: 8px 0 16px;
    margin: auto
}

.counter-box__wrapper {
    display: table-cell;
    text-align: center;
    position: relative;
    padding: 0 8px
}

.counter-box .counter-box__number {
    font-size: 30px;
    font-weight: 300
}

.counter-box__number,
.counter-box__title {
    display: inline-block
}

.box-outer {
    margin: auto
}

.box-outer__green {
    background-color: #f7f8f7;
    border: 1px solid #cde4c3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cde4c3;
    border-radius: 5px;
    border-bottom: 1px solid #cde4c3!important;
    padding: 0 16px 16px
}

#home {
    transition: all .3s linear
}

.title {
    padding: 10px 0 10px 72px
}

.title h1 {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0
}

.title-border__list {
    position: relative;
    margin-bottom: 30px
}

.title-border__list:after {
    content: '';
    position: absolute;
    width: 40px;
    border-bottom: 2px solid #ff5722;
    bottom: -10px;
    left: 0
}

.fixfixed {
    position: relative!important
}

.detail__tagihan {
    color: #0e8ce4;
    font-size: 12px;
    margin-right: 8px;
    padding: 20px 0;
    text-align: right;
    cursor: pointer
}

.payment__list {
    background: #fff;
    border-top: 1px solid #ededed;
    cursor: pointer;
    height: 54px;
    padding: 0 16px;
    box-sizing: content-box
}

.payment__list:hover,
.payment__list:focus,
.payment__list:active {
    background: #f3fef3
}

.disabled .payment__name,
.disabled .payment__info {
    color: #e8e8e8
}

.payment__list-detail {
    height: auto;
    padding: 16px 24px;
    border-top: 0
}

a .payment__list:last-child {
    border-top: 0;
    border-bottom: 1px solid #ededed
}

.payment__list.tokocash {
    border-bottom: 1px solid #ededed
}

.payment__list.saldo {
    border-bottom: 1px solid #ededed
}

.payment-main.promo {
    border-bottom: 1px solid #ededed
}

.payment__list-table ul {
    list-style: none
}

.payment__list-table .main__list {
    display: table;
    width: 100%;
    padding-bottom: 8px
}

.payment__method {
    display: none;
    position: fixed;
    background-color: #f7f7f7;
    height: 100%;
    min-height: 100%;
    width: 100%;
    top: 100%;
    padding: 15px 0;
    transition: all .3s ease;
    z-index: 3
}

.payment-box__info {
    background: #4c4c4c;
    color: #fff;
    padding: 8px 24px
}

.payment-sum__arrow {
    border: 1px solid rgba(0, 0, 0, .7)
}

.payment-sum__arrow:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: transparent transparent rgba(0, 0, 0, .7) transparent;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto
}

.table-list {
    width: 100%;
    border-collapse: collapse
}

.table-list tr:last-child {
    border-top: 1px dashed rgba(0, 0, 0, .38)
}

.table-list tr:last-child td {
    padding-top: 8px
}

.table-list tr:nth-last-child td {
    padding-top: 16px
}

.table-list td:first-child {
    vertical-align: top;
    padding-bottom: 8px;
    padding-right: 5px;
    width: 60%
}

.table-list td p {
    word-break: break-all
}

.table-list td:last-child {
    vertical-align: top;
    padding-bottom: 8px;
    width: 40%
}

.textfield {
    position: relative
}

.floating-icon {
    position: absolute;
    right: 0;
    top: 35%
}

.text__field-half {
    width: 50%
}

.text-field.disable * {
    color: rgba(0, 0, 0, .18)!important;
    cursor: no-drop
}

input.text {
    font-size: 16px;
    padding: 10px 10px 10px 0;
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    box-shadow: none
}

input.text::placeholder {
    color: rgba(0, 0, 0, .3)
}

input.text:focus {
    outline: 0
}

input.text {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0
}

input.input-detail:focus {
    border-color: #0e8ce4;
    transition: border-color .5s ease
}

.select-normal {
    width: 100%;
    padding: 10px 20px 10px 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-color: transparent;
    background: 0 0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 0;
    font-size: 13px;
    color: rgba(0, 0, 0, .7);
    text-indent: 0
}

.select-cc {
    width: 70px
}

.textfield__label {
    color: rgba(0, 0, 0, .3);
    margin-bottom: 0;
    font-size: 12px
}

.error .text {
    border: 0;
    border-bottom: 1px solid #f00000
}

.bar.error {
    font-size: 11px;
    color: #f00000
}

.error_server {
    padding: 10px 16px;
    background: #ff4141;
    color: #fff;
    text-align: center
}

.btn {
    display: block;
    width: 100%;
    height: 52px;
    font-size: 14px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background: #fff;
    padding: 15px 0;
    color: rgba(0, 0, 0, .7)
}

.btn-orange {
    background: #ff5722!important;
    color: #fff;
    border: 0;
    border-radius: 0
}

.btn-green {
    background: #0e8ce4!important;
    color: #fff;
    border: 0
}

.btn-floating {
    display: none;
    position: fixed;
    bottom: 0;
    border-radius: 0;
    width: 100%;
    z-index: 3
}

.btn-confirm {
    display: block
}

.btn-orange:hover,
.btn-orange:focus {
    background: #ee3900!important;
    color: #fff;
    border-color: #ee3900!important
}

.btn-green:hover,
.btn-green:focus {
    color: #fff;
    background: #34903a!important;
    border-color: #34903a!important
}

.btn.disabled,
.btn-orange.disabled,
.btn-green.disabled {
    background: #e0e0e0!important;
    border-color: #e0e0e0;
    color: #000;
    opacity: 1!important
}

#popup-partial-deposit {
    display: none
}

.partial_deposit {
    padding: 16px
}

.toggle-drop {
    height: 0;
    overflow: hidden;
    transition: height .25s ease
}

.toggle-drop.active {
    height: 70px
}

input.toggle {
    height: 33px;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 60px;
    clear: both;
    display: inline-block;
    vertical-align: middle;
    right: 0
}

input.toggle+label {
    display: inline-block;
    position: relative;
    box-shadow: inset 0 0 0 1px #ededed;
    text-indent: -5e3px;
    height: 20px;
    width: 50px;
    border-radius: 15px;
    vertical-align: middle;
    float: right;
    top: 4px;
    background: #bdbdbd
}

input.toggle+label:before {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: 0 0;
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out
}

input.toggle+label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: -5px;
    left: 0;
    border-radius: 15px;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    box-shadow: inset 0 0 0 1px #ededed
}

input.toggle:checked+label:before {
    width: 50px;
    background: rgba(66, 181, 73, .5)
}

input.toggle:checked+label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px #0e8ce4, 0 2px 4px rgba(0, 0, 0, .2);
    background: #0e8ce4
}

.copyright {
    float: none;
    margin-top: 10px;
    text-align: center
}

.box-media {
    display: table-cell;
    width: 100%
}

.box-left,
.box-right {
    display: table-cell;
    padding: 0 4px;
    vertical-align: top
}

.va-middle {
    vertical-align: middle
}

.va-bottom {
    vertical-align: bottom!important
}

.border-btm-ed {
    border-bottom: 1px solid #ededed
}

.page {
    margin: auto
}

.mt-24 {
    margin-top: 24px!important
}

.mt-4 {
    margin-top: 4px!important
}

.mt-18 {
    margin-top: 18px!important
}

.mt-72 {
    margin-top: 72px!important
}

.mb-24 {
    margin-bottom: 24px!important
}

.pt-24 {
    padding-top: 24px!important
}

.pl-0 {
    padding-left: 0!important
}

.pl-8 {
    padding-left: 8px!important
}

.counter-box {
    display: table;
    padding: 8px 0 16px;
    margin: auto
}

.counter-box__wrapper {
    display: table-cell;
    text-align: center;
    position: relative;
    padding: 0 10px
}

.counter-box__wrapper:after {
    content: ':';
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px
}

.counter-box__wrapper:last-child:after {
    display: none
}

.counter-box__number {
    font-size: 30px;
    font-weight: 300
}

.counter-box__number,
.counter-box__title {
    display: inline-block
}

.box-outer {
    margin: auto
}

.box-outer__green {
    background-color: #f7f8f7;
    border: 1px solid #cde4c3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cde4c3;
    border-radius: 5px;
    border-bottom: 1px solid #cde4c3!important;
    padding: 16px
}

.payment-box__info {
    background: #4c4c4c;
    color: #fff;
    padding: 8px 24px
}

.border-payment {
    border-top: 1px solid #ededed
}

.payment-sum__arrow {
    border: 1px solid #4c4c4c
}

.payment-sum__arrow:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: transparent transparent #4c4c4c;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto
}

.link:hover {
    color: #ff5722;
    text-decoration: none
}

.detail-content {
    padding: 16px;
    border-top: 1px solid #ededed
}

.detail-header__name,
.detail-header__logo {
    display: table-cell;
    width: 50%
}

.detail-header__name>*,
.detail-header__logo>* {
    vertical-align: middle
}

.detail-content__list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 0
}

.detail-content__list li {
    padding-left: 8px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px
}

.detail-content__list li:last-child {
    margin-bottom: 0
}

.dashed_black {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dashed rgba(0, 0, 0, .38)
}

.choose-method-label {
    font-weight: 500
}

.popup {
    position: fixed;
    background-color: #f7f7f7;
    width: 100%;
    top: 100%;
    transition: all .3s ease;
    z-index: -1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden
}

.popup__header {
    padding-top: 15px
}

.popup__payment-method-detail {
    position: absolute;
    z-index: 2
}

.popup__payment {
    position: fixed;
    background-color: #f7f7f7;
    height: 100%;
    min-height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 15px 0;
    transition: all .3s ease;
    z-index: 2;
    -webkit-transform: translate3d(0, 0, 2px);
    transform: translate3d(0, 0, 2px)
}

.popup__container {
    display: none
}

.method__content-list {
    border-bottom: 1px solid #ededed
}

.method__content-list:last-child {
    padding-bottom: 24px;
    border-bottom: 0
}

.sprite-globalcode {
    background: url(https://ecs7.tokopedia.net/img/toppay/sprites/retail.png);
    width: 53px;
    height: 74px;
    background-size: 100%
}

.retail-list .no-fee,
.retail-list .payment__info {
    display: none
}

.payment__list.grey-out .no-fee {
    display: block
}

.payment__list.grey-out .fee {
    display: none
}

.payment__list {
    background: #fff;
    border-top: 1px solid #ededed;
    cursor: pointer;
    height: 54px;
    padding: 0 16px;
    box-sizing: content-box
}

.payment__list:hover,
.payment__list:focus,
.payment__list:active {
    background: #f3fef3
}

.disabled .payment__name,
.disabled .payment__info {
    color: #e8e8e8
}

.payment__list-detail {
    height: auto;
    padding: 16px 24px;
    border-top: 0
}

a .payment__list:last-child {
    border-top: 0;
    border-bottom: 1px solid #ededed
}

.payment__list.tokocash {
    border-bottom: 1px solid #ededed
}

.payment__list.saldo {
    border-bottom: 1px solid #ededed
}

.payment-main.promo {
    border-bottom: 1px solid #ededed
}

.payment__list-table ul {
    list-style: none
}

.payment__list-table .main__list {
    display: table;
    width: 100%;
    padding-bottom: 8px
}

.payment__method {
    display: none;
    position: fixed;
    background-color: #f7f7f7;
    height: 100%;
    min-height: 100%;
    width: 100%;
    top: 100%;
    padding: 15px 0;
    transition: all .3s ease;
    z-index: 3
}

.history_note {
    padding: 24px 16px 8px;
    background: #f8f8f8;
    font-size: 11px;
    font-weight: 700;
    color: #606060
}

.payment__logo {
    height: 32px;
    margin: 11px 0;
    min-width: 62px;
    margin-right: 2px;
    vertical-align: middle
}

.payment__detail {
    margin: 8px 0;
    vertical-align: middle;
    position: relative
}

.payment__detail-center {
    margin: 17px 0
}

.product-name {
    color: rgba(0, 0, 0, .54)
}

.minus-amount {
    position: relative
}

.minus-amount:after {
    content: "–";
    position: absolute;
    left: -15px
}

.payment-detail-fee,
#payment-detail-partial,
#payment-detail-rounding {
    display: none
}

.arrow {
    margin: 13px 0
}

.payment__name {
    color: rgba(0, 0, 0, .7);
    font-size: 14px;
    height: 19px
}

.payment__info {
    color: rgba(0, 0, 0, .54);
    font-size: 13px
}

.payment__add {
    background: #fff;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    color: #0e8ce4;
    padding: 16px;
    text-align: left
}

.promoted_detail {
    background: #f30;
    color: #fff;
    padding: 0 5px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 700
}

.detail-header {
    padding: 8px 16px;
    display: table;
    width: 100%;
    border-top: 1px solid #ededed
}

.detail-content {
    padding: 16px;
    border-top: 1px solid #ededed
}

.detail-header__name,
.detail-header__logo {
    display: table-cell;
    width: 50%
}

.detail-header__name>*,
.detail-header__logo>* {
    vertical-align: middle
}

.detail-content__list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 0
}

.detail-content__list li {
    padding-left: 8px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px
}

.detail-content__list li:last-child {
    margin-bottom: 0
}

.dashed_black {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dashed rgba(0, 0, 0, .38)
}

.choose-method-label {
    font-weight: 500
}

.no-border {
    border: 0!important
}

.w-accordion {
    margin: 10px 0
}

.w-accordion-menu {
    padding: 10px;
    color: #777;
    cursor: pointer;
    border: 1px solid #ddd;
    font-weight: 700
}

.w-accordion-content {
    padding: 10px;
    border: 1px solid #ddd;
    color: #777;
    display: none
}

.popup-action {
    position: fixed;
    padding: 24px 16px;
    width: 100%;
    bottom: -30%;
    opacity: 0;
    left: 0
}

.popup-action__text {
    color: rgba(0, 0, 0, .54);
    margin-bottom: 0
}

.popup-action.success {
    background: #f5fdf4;
    border-top: 1px solid #0e8ce4
}

.popup-action.failed {
    background: #faecec;
    border-top: 1px solid #e0686b
}

.warning-box {
    border: 1px solid #edd97c;
    color: rgba(0, 0, 0, .54);
    background: #fff7da;
    border-radius: 5px;
    padding: 8px 16px;
    text-align: center
}

@media only screen and (min-width:855px) {
    #maincontent,
    .popup-action {
        max-width: 523px!important
    }
    .popup-action {
        left: 50%;
        margin-left: -261px
    }
}

@font-face {
    font-family: Tokopedia;
    src: url(../fonts/Tokopedia.eot?v=3.3.5);
    src: url(../fonts/Tokopedia.eot?#iefix&v=3.3.5) format("embedded-opentype"), url(../fonts/Tokopedia.woff?v=3.3.5) format("woff"), url(../fonts/Tokopedia.ttf?v=3.3.5) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: open sans;
    src: url(../fonts/OpenSans.eot);
    src: url(../fonts/OpenSans.eot) format("embedded-opentype"), url(../fonts/OpenSans.woff) format("woff"), url(../fonts/OpenSans.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
    font-family: Tokopedia;
    font-weight: 400;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0
}

.btn [class*=" icon-"].icon-large,
.btn [class^=icon-].icon-large,
.nav [class*=" icon-"].icon-large,
.nav [class^=icon-].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large,
.nav-pills [class^=icon-],
.nav-pills [class^=icon-].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large,
.nav-tabs [class^=icon-],
.nav-tabs [class^=icon-].icon-large {
    line-height: .9em
}

.dropdown-menu>.active>a>[class*=" icon-"],
.dropdown-menu>.active>a>[class^=icon-],
.dropdown-menu>li>a:hover>[class*=" icon-"],
.dropdown-menu>li>a:hover>[class^=icon-],
.dropdown-submenu:hover>a>[class*=" icon-"],
.dropdown-submenu:hover>a>[class^=icon-],
.icon-white,
.nav-list>.active>a>[class*=" icon-"],
.nav-list>.active>a>[class^=icon-],
.nav-pills>.active>a>[class*=" icon-"],
.nav-pills>.active>a>[class^=icon-],
.navbar-inverse .nav>.active>a>[class*=" icon-"],
.navbar-inverse .nav>.active>a>[class^=icon-] {
    background-image: none
}

[class*=" icon-"]::before,
[class^=icon-]::before {
    text-decoration: inherit;
    display: inline-block;
    speak: none
}

a [class*=" icon-"],
a [class^=icon-] {
    display: inline-block
}

.icon-large::before {
    vertical-align: -5%;
    font-size: 1.125em
}

.btn [class*=" icon-"],
.btn [class^=icon-],
.nav [class*=" icon-"],
.nav [class^=icon-] {
    display: inline
}

.btn [class*=" icon-"].icon-spin,
.btn [class^=icon-].icon-spin,
.icon-spin,
.nav [class*=" icon-"].icon-spin,
.nav [class^=icon-].icon-spin {
    display: inline-block
}

.nav li [class*=" icon-"],
.nav li [class^=icon-],
li [class*=" icon-"],
li [class^=icon-] {
    display: inline-block;
    text-align: center
}

.nav li [class*=" icon-"].icon-large,
.nav li [class^=icon-].icon-large,
li [class*=" icon-"].icon-large,
li [class^=icon-].icon-large {
    width: auto
}

ul.icons {
    list-style-type: none;
    text-indent: -.75em
}

ul.icons li [class*=" icon-"],
ul.icons li [class^=icon-] {
    width: 12px
}

.icon-muted {
    color: #e4e4e4
}

.icon-border {
    border: 1px solid #e4e4e4;
    padding: .2em .25em .15em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.icon-2x {
    font-size: 2em
}

.icon-2x.icon-border {
    border-width: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.icon-3x {
    font-size: 3em
}

.icon-3x.icon-border {
    border-width: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.icon-4x {
    font-size: 4em
}

.icon-4x.icon-border {
    border-width: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.icon-clover {
    font-weight: 700
}

.pull-right {
    float: right
}

.pull-left {
    float: left
}

.pull-center {
    text-align: center
}

[class*=" icon-"].pull-left,
[class^=icon-].pull-left {
    margin-right: .3em
}

[class*=" icon-"].pull-right,
[class^=icon-].pull-right {
    margin-left: .3em
}

[class*=" icon-"].pull-center,
[class^=icon-].pull-center {
    margin: 0 auto
}

.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x,
.btn [class^=icon-].pull-left.icon-2x,
.btn [class^=icon-].pull-right.icon-2x {
    margin-top: .18em
}

.btn [class*=" icon-"].icon-spin.icon-large,
.btn [class^=icon-].icon-spin.icon-large {
    line-height: .8em
}

.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x,
.btn.btn-small [class^=icon-].pull-left.icon-2x,
.btn.btn-small [class^=icon-].pull-right.icon-2x {
    margin-top: .25em
}
#maincontent {
    background-color: #ffffffff;
    padding: 20px;
}

.btn.btn-large [class*=" icon-"],
.btn.btn-large [class^=icon-] {
    margin-top: 0
}

.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x,
.btn.btn-large [class^=icon-].pull-left.icon-2x,
.btn.btn-large [class^=icon-].pull-right.icon-2x {
    margin-top: .05em
}

.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class^=icon-].pull-left.icon-2x {
    margin-right: .2em
}

.btn.btn-large [class*=" icon-"].pull-right.icon-2x,
.btn.btn-large [class^=icon-].pull-right.icon-2x {
    margin-left: .2em
}

.icon-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0)
    }
    100% {
        -moz-transform: rotate(359deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(359deg)
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0)
    }
    100% {
        -o-transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(359deg)
    }
}

.icon-product-health::before {
    content: "\e001"
}

.icon-product-beauty::before {
    content: "\e002"
}

.icon-product-beauty-alt::before {
    content: "\ee02"
}

.icon-product-clothing::before {
    content: "\e003"
}

.icon-product-clothing-alt::before {
    content: "\ee03"
}

.icon-product-fashion::before {
    content: "\e004"
}

.icon-product-phone-tablet::before {
    content: "\e005"
}

.icon-product-notebook::before {
    content: "\e006"
}

.icon-product-pc::before {
    content: "\e007"
}

.icon-product-home-office::before {
    content: "\e008"
}

.icon-product-office-stationery::before {
    content: "\e009"
}

.icon-product-electronics::before {
    content: "\e010"
}

.icon-product-baby::before {
    content: "\e011"
}

.icon-product-photography::before {
    content: "\e012"
}

.icon-product-toys-hobbies::before {
    content: "\e013"
}

.icon-product-automotive::before {
    content: "\e014"
}

.icon-product-food-beverages::before {
    content: "\e015"
}

.icon-product-food-beverages-alt::before {
    content: "\ee15"
}

.icon-product-sports::before {
    content: "\e016"
}

.icon-product-books::before {
    content: "\e017"
}

.icon-product-books-alt::before {
    content: "\ee17"
}

.icon-product-softwares::before {
    content: "\e018"
}

.icon-product-movies-games-music::before {
    content: "\e019"
}

.icon-product-everything-else::before {
    content: "\e020"
}

.icon-product-everything-else-alt::before {
    content: "\ee20"
}

.icon-product-kitchen-dining::before {
    content: "\e021"
}

.icon-product-gift::before {
    content: "\e022"
}

.icon-product-home-appliances::before {
    content: "\e023"
}

.icon-level-1::before {
    content: "\e0b1"
}

.icon-level-2::before {
    content: "\e0b2"
}

.icon-level-3::before {
    content: "\e0b3"
}

.icon-level-4::before {
    content: "\e0b4"
}

.icon-level-5::before {
    content: "\e0b5"
}

.icon-crown::before {
    content: "\e0b6"
}

.icon-arrow-left::before {
    content: "\e02a"
}

.icon-arrow-right::before {
    content: "\e02b"
}

.icon-arrow-up::before {
    content: "\e02c"
}

.icon-arrow-down::before {
    content: "\e02d"
}

.icon-circle-arrow-left::before {
    content: "\e03a"
}

.icon-circle-arrow-right::before {
    content: "\e03b"
}

.icon-circle-arrow-up::before {
    content: "\e03c"
}

.icon-circle-arrow-down::before {
    content: "\e03d"
}

.icon-chevron-left::before {
    content: "\e04a"
}

.icon-chevron-right::before {
    content: "\e04b"
}

.icon-chevron-up::before {
    content: "\e04c"
}

.icon-chevron-down::before {
    content: "\e04d"
}

.icon-chevron-left-alt::before {
    content: "\e05a"
}

.icon-chevron-right-alt::before {
    content: "\e05b"
}

.icon-chevron-up-alt::before {
    content: "\e05c"
}

.icon-chevron-down-alt::before {
    content: "\e05d"
}

.icon-circle-chevron-left::before {
    content: "\e4aa"
}

.icon-circle-chevron-right::before {
    content: "\e4bb"
}

.icon-circle-chevron-down::before {
    content: "\e4cc"
}

.icon-circle-chevron-up::before {
    content: "\e4dd"
}

.icon-caret-left::before {
    content: "\e5aa"
}

.icon-caret-right::before {
    content: "\e5bb"
}

.icon-caret-up::before {
    content: "\e5cc"
}

.icon-caret-down::before {
    content: "\e5dd"
}

.icon-facebook::before {
    content: "\e0a1"
}

.icon-facebook-square::before {
    content: "\e0a2"
}

.icon-facebook-circle::before {
    content: "\e0a3"
}

.icon-twitter::before {
    content: "\e0a4"
}

.icon-twitter-square::before {
    content: "\e0a5"
}

.icon-twitter-circle::before {
    content: "\e0a6"
}

.icon-google-plus::before {
    content: "\e0a7"
}

.icon-google-plus-square::before {
    content: "\e0a8"
}

.icon-google-plus-circle::before {
    content: "\e0a9"
}

.icon-pinterest::before {
    content: "\ea10"
}

.icon-pinterest-square::before {
    content: "\ea11"
}

.icon-pinterest-circle::before {
    content: "\ea12"
}

.icon-linkedin::before {
    content: "\ea13"
}

.icon-linkedin-square::before {
    content: "\ea14"
}

.icon-linkedin-circle::before {
    content: "\ea15"
}

.icon-instagram::before {
    content: "\ea16"
}

.icon-instagram-circle::before {
    content: "\ea17"
}

.icon-yahoo::before {
    content: "\ea18"
}

.icon-yahoo-square::before {
    content: "\ea19"
}

.icon-yahoo-circle::before {
    content: "\ea20"
}

.icon-gplus::before {
    content: "\ea21"
}

.icon-gplus-square::before {
    content: "\ea22"
}

.icon-gplus-circle::before {
    content: "\ea23"
}

.icon-blogger::before {
    content: "\ea24"
}

.icon-blogger-square::before {
    content: "\ea25"
}

.icon-blogger-circle::before {
    content: "\ea26"
}

.icon-tumblr::before {
    content: "\ea27"
}

.icon-tumblr-square::before {
    content: "\ea28"
}

.icon-tumblr-circle::before {
    content: "\ea29"
}

.icon-line::before {
    content: "\ea30"
}

.icon-line-square::before {
    content: "\ea31"
}

.icon-line-circle::before {
    content: "\ea32"
}

.icon-whatsapp::before {
    content: "\ea33"
}

.icon-whatsapp-square::before {
    content: "\ea34"
}

.icon-whatsapp-circle::before {
    content: "\ea35"
}

.icon-heart::before {
    content: "\e06a"
}

.icon-heart-alt::before {
    content: "\e06b"
}

.icon-star-alt::before {
    content: "\e06c"
}

.icon-star-alt-2::before {
    content: "\e06d"
}

.icon-star::before {
    content: "\e06e"
}

.icon-happy::before {
    content: "\e07a"
}

.icon-happy-alt::before {
    content: "\e07b"
}

.icon-smiley::before {
    content: "\e07c"
}

.icon-smiley-alt::before {
    content: "\e07d"
}

.icon-sad::before {
    content: "\e08a"
}

.icon-sad-alt::before {
    content: "\e08b"
}

.icon-neutral::before {
    content: "\e08c"
}

.icon-neutral-alt::before {
    content: "\e08d"
}

.icon-thumbs-up::before {
    content: "\e09a"
}

.icon-thumbs-down::before {
    content: "\e09b"
}

.icon-thumbs-down-alt::before {
    content: "\e09c"
}

.icon-thumbs-up-alt::before {
    content: "\e09d"
}

.icon-list-alt::before {
    content: "\f001"
}

.icon-list::before {
    content: "\f002"
}

.icon-help-alt::before {
    content: "\f003"
}

.icon-help::before {
    content: "\f004"
}

.icon-notification::before {
    content: "\f005"
}

.icon-message-alt::before {
    content: "\f006"
}

.icon-message::before {
    content: "\f007"
}

.icon-new-message::before {
    content: "\f008"
}

.icon-avatar::before {
    content: "\f009"
}

.icon-basket::before {
    content: "\f010"
}

.icon-my-shop::before {
    content: "\f011"
}

.icon-home::before {
    content: "\f012"
}

.icon-rss::before {
    content: "\f013"
}

.icon-talk-public-price::before {
    content: "\f014"
}

.icon-notification-public-price::before {
    content: "\f015"
}

.icon-comment::before {
    content: "\f016"
}

.icon-comment-alt::before {
    content: "\f017"
}

.icon-talk::before {
    content: "\f018"
}

.icon-setting::before {
    content: "\f019"
}

.icon-talk-alt::before {
    content: "\f020"
}

.icon-admin-shop::before {
    content: "\f021"
}

.icon-transaction::before {
    content: "\f022"
}

.icon-briefcase::before {
    content: "\f023"
}

.icon-withdrawal::before {
    content: "\f024"
}

.icon-bank-account::before {
    content: "\f025"
}

.icon-off::before {
    content: "\f026"
}

.icon-login::before {
    content: "\f027"
}

.icon-logout::before {
    content: "\f028"
}

.icon-locked::before {
    content: "\f029"
}

.icon-unlocked::before {
    content: "\f030"
}

.icon-earth::before {
    content: "\f031"
}

.icon-dink-it::before {
    content: "\f032"
}

.icon-left-quote::before {
    content: "\f033"
}

.icon-right-quote::before {
    content: "\f034"
}

.icon-delete::before {
    content: "\f035"
}

.icon-remove::before {
    content: "\f036"
}

.icon-checked::before {
    content: "\f037"
}

.icon-minus::before {
    content: "\f038"
}

.icon-plus::before {
    content: "\f039"
}

.icon-spam::before {
    content: "\f040"
}

.icon-spam-alt::before {
    content: "\f041"
}

.icon-info::before {
    content: "\f042"
}

.icon-info-alt::before {
    content: "\f043"
}

.icon-image::before {
    content: "\f044"
}

.icon-detail-product::before {
    content: "\f045"
}

.icon-expand::before {
    content: "\f046"
}

.icon-contract::before {
    content: "\f047"
}

.icon-move::before {
    content: "\f048"
}

.icon-money-rupiah::before {
    content: "\f049"
}

.icon-undo::before {
    content: "\f050"
}

.icon-redo::before {
    content: "\f051"
}

.icon-go::before {
    content: "\f052"
}

.icon-key::before {
    content: "\f053"
}

.icon-key-alt::before {
    content: "\f054"
}

.icon-pencil::before {
    content: "\f055"
}

.icon-pencil-alt::before {
    content: "\f056"
}

.icon-gift::before {
    content: "\f057"
}

.icon-smartphone::before {
    content: "\f058"
}

.icon-mobile::before {
    content: "\f059"
}

.icon-add-friend::before {
    content: "\f060"
}

.icon-remove-friend::before {
    content: "\f061"
}

.icon-block-friend::before {
    content: "\f062"
}

.icon-shop::before {
    content: "\f063"
}

.icon-grid::before {
    content: "\f065"
}

.icon-grid-large::before {
    content: "\f066"
}

.icon-credit::before {
    content: "\f067"
}

.icon-bell-alt::before {
    content: "\f068"
}

.icon-bell::before {
    content: "\f069"
}

.icon-about::before {
    content: "\f070"
}

.icon-avatar-alt::before {
    content: "\f071"
}

.icon-cup::before {
    content: "\f072"
}

.icon-bulb::before {
    content: "\f073"
}

.icon-shopping-cart-alt-2::before {
    content: "\f074"
}

.icon-shopping-cart::before {
    content: "\f075"
}

.icon-shopping-cart-alt::before {
    content: "\f076"
}

.icon-search::before {
    content: "\f077"
}

.icon-alarm::before {
    content: "\f078"
}

.icon-alarm-alt::before {
    content: "\f079"
}

.icon-tokopedia-man::before {
    content: "\f080"
}

.icon-tokopedia-woman::before {
    content: "\f081"
}

.icon-notes::before {
    content: "\f082"
}

.icon-file::before {
    content: "\f083"
}

.icon-file-alt::before {
    content: "\f084"
}

.icon-file-alt-2::before {
    content: "\f085"
}

.icon-review::before {
    content: "\f086"
}

.icon-review-alt::before {
    content: "\f087"
}

.icon-review-alt-2::before {
    content: "\f088"
}

.icon-calendar::before {
    content: "\f089"
}

.icon-profile::before {
    content: "\f090"
}

.icon-bookmark::before {
    content: "\f091"
}

.icon-wrench::before {
    content: "\f092"
}

.icon-shipping::before {
    content: "\f093"
}

.icon-phone::before {
    content: "\f094"
}

.icon-pin::before {
    content: "\f095"
}

.icon-pin-alt::before {
    content: "\f096"
}

.icon-share-alt::before {
    content: "\f097"
}

.icon-share::before {
    content: "\f098"
}

.icon-open-alt::before {
    content: "\f099"
}

.icon-open::before {
    content: "\f100"
}

.icon-shop-all::before {
    content: "\f101"
}

.icon-shop-favorite::before {
    content: "\f102"
}

.icon-shop-featured::before {
    content: "\f103"
}

.icon-slash::before {
    content: "\f104"
}

.icon-product::before {
    content: "\f105"
}

.icon-etalase::before {
    content: "\f106"
}

.icon-etalase-alt::before {
    content: "\f107"
}

.icon-item-cart::before {
    content: "\f108"
}

.icon-item-sold::before {
    content: "\f109"
}

.icon-item-sold-alt::before {
    content: "\f110"
}

.icon-tag::before {
    content: "\f111"
}

.icon-tag-alt::before {
    content: "\f112"
}

.icon-shield::before {
    content: "\f113"
}

.icon-scale::before {
    content: "\f114"
}

.icon-send::before {
    content: "\f115"
}

.icon-map-alt-2::before {
    content: "\f116"
}

.icon-map-alt::before {
    content: "\f117"
}

.icon-map::before {
    content: "\f118"
}

.icon-tokopedia::before {
    content: "\f119"
}

.icon-tokopedia-alt::before {
    content: "\f120"
}

.icon-shopping-bag::before {
    content: "\f121"
}

.icon-dink-it-alt::before {
    content: "\f122"
}

.icon-sort-descending::before {
    content: "\f123"
}

.icon-sort-ascending::before {
    content: "\f124"
}

.icon-rp::before {
    content: "\f125"
}

.icon-sort-a-z::before {
    content: "\f126"
}

.icon-new::before {
    content: "\f127"
}

.icon-piechart::before {
    content: "\f128"
}

.icon-pushpin::before {
    content: "\f129"
}

.icon-scissors::before {
    content: "\f130"
}

.icon-wand::before {
    content: "\f131"
}

.icon-eye::before {
    content: "\f132"
}

.icon-retweet::before {
    content: "\f133"
}

.icon-switch::before {
    content: "\f134"
}

.icon-category::before {
    content: "\f135"
}

.icon-category-alt::before {
    content: "\f136"
}

.icon-bank::before {
    content: "\f064"
}

.icon-checked-alt::before {
    content: "\f137"
}

.icon-remove-alt::before {
    content: "\f138"
}

.icon-plus-alt::before {
    content: "\f139"
}

.icon-minus-alt::before {
    content: "\f140"
}

.icon-file-add::before {
    content: "\f141"
}

.icon-statistic::before {
    content: "\f142"
}

.icon-statistic-square::before {
    content: "\f143"
}

.icon-statistic-alt::before {
    content: "\f144"
}

.icon-statistic-alt-square::before {
    content: "\f145"
}

.icon-fax::before {
    content: "\f146"
}

.icon-fax-alt::before {
    content: "\f147"
}

.icon-loading::before {
    content: "\f148"
}

.icon-loading-alt::before {
    content: "\f149"
}

.icon-upload::before {
    content: "\f150"
}

.icon-upload-alt::before {
    content: "\f151"
}

.icon-toped::before {
    content: "\f152"
}

.icon-topads::before {
    content: "\f153"
}

.icon-topads-alt::before {
    content: "\f154"
}

.icon-link::before {
    content: "\f155"
}

.icon-link-alt::before {
    content: "\f156"
}

.icon-fire::before {
    content: "\f157"
}

.icon-clover::before {
    content: "\f158"
}
